/* You can add global styles to this file, and also import other style files */
.image{
  height:60em;
  background-size:cover; width:100%;
  background-image:url('~images/bg7.jpg');
  /*opacity: 0.7;*/
  background-position:50% 50%;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255,255,255,0.5);

}
