.mainBody{
    background: url(images/cover.jpg);
    background-size : cover
}

h2{
    color: black;
    font-family: "Courier New", sans-serif;
    font-size: 30px;
}

.img{
    top: 30%;
    left: 30%;
    position: center;
}